* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    background: #1A1A1A;
    color: white;
}


header {
    background: #1b5e20;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
}


.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(93, 93, 93, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #1DB954;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px;
}

.card {
    background: #7b7b7b;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}


form {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    background: #1DB954;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
    margin-top: 40px;
}



/* WHY CHOOSE US SECTION */

.features {
    padding: 60px 20px;
    background: #111;
    text-align: center;
}

.section-title {
    color: #1DB954;
    font-size: 2rem;
    margin-bottom: 40px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.feature {
    background: #1f1f1f;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
    border: 1px solid #2a2a2a;
}

.feature:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    border: 1px solid #1DB954;
}

.feature h3 {
    color: #1DB954;
    margin-bottom: 10px;
}

.feature p {
    color: #ccc;
    font-size: 0.95rem;
    line-height: 1.5;
}