body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e6f4ff;
    margin: 0;
    padding: 20px;
}

.title {
    text-align: center;
    background: #3aa0ff;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.card {
    background: white;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

fieldset {
    margin-top: 15px;
    border: 2px solid #cfe8ff;
    border-radius: 10px;
    padding: 10px;
}

.rating label {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

.submit-btn {
    margin-top: 20px;
    background: #3aa0ff;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background: #0077ff;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #333;
}