@media (min-width: 768px) {

    #menu {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        background-color: #ddd;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}