* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #4b116f;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#menu {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

nav {
    display: none;
    flex-direction: column;
    background-color: #4b116f;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.75rem;
    text-align: center;
}

nav.open {
    display: flex;
}

main {
    padding: 1rem;
}

h2 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    margin: 0;
    text-align: center;

}

figure img {
    width: 100%;
    height: auto;
    max-width: block;
}

figcaption {
    color: #4b116f;
    font-size: 0.9rem;

}

footer {
    background-color: #4b116f;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}