

/* BODY */
body {
    font-family: "Open Sans", sans-serif;
    max-width: 1100px;
    margin: auto;
    background-color: #ffffff;
}

/* HEADER */
header {
    background-color: #0b3d1c;
    color: white;
    text-align: center;
    padding: 1rem;
}

#course-title {
    font-size: 1.6rem;
    font-weight: bold;
}

/* NAV */
nav {
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-around;
    padding: 0.8rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    padding: 1.5rem;
}

main h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

/* GRID */
.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

/* CARD */
.card {
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

/* CARD TITLE */
.card h2 {
    background-color: #0b3d1c;
    color: white;
    padding: 0.8rem;
    font-size: 1.3rem;
    text-align: center;
}

/* CARD CONTENT */
.card-content {
    padding: 1rem;
}

/* ABOUT SECTION */
.about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    
}

.about img {
 max-width: 160px;
    height: auto;
}

/* LOCATION */
.location {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid #000;
    align-items: center;
}

.location h3 {
    text-align: center;
    font-weight: bold;
    margin: 1rem auto;
    padding: 0.3rem 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 70%;
}

.location img {
    max-width: 160px;
    height: auto;
}

/* RESOURCES */
.resources ul {
    padding-left: 1.5rem;
}

.resources a {
    color: black;
}

/* FOOTER */
footer {
    background-color: #0b3d1c;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}